/* styles.css ou ton fichier CSS */
.sidebar {
    transition: transform 0.5s ease-in-out;
    /* Durée et effet de transition */
}

.sidebar-enter {
    transform: translateX(-100%);
    /* Position initiale (hors de l'écran) */
}

.sidebar-enter-active {
    transform: translateX(0);
    /* Position finale (visible) */
}